.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.base{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #386641;
}

.inputs{
    width: 13vw !important;
    display: flex;
    flex-direction: column;

}

.btn-custom{
    background-color: #DAAB37 !important;
}