.containerLogin{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    top: 100%;
}


.login-box{
    border-radius: 40px;
    background: rgba(56, 102, 65, 0.8);;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baseLogin{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(242, 232, 207, 0.41);
}

.inputs{
    width: 13vw !important;
    display: flex;
    flex-direction: column;

}

.btn-custom{
    background-color: #DAAB37 !important;
    font-weight: 700 !important;
    border-radius: 40px !important;
    width: 8vw;
}
