.header{
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    top:0px
}

.containerRegister{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    position:relative;
    top: 13px;
}

.base{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(242, 232, 207, 0.41);;
}

.inputs{
    width: 14vw !important;
    display: flex;
    flex-direction: column;

}

.inputs{
    width: 12vw !important;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.btn-custom{
    background-color: #DAAB37 !important;
    font-weight: 700 !important;
    border-radius: 40px !important;
    width: 30vw;
    align-items: center;
}

.register-box{
    border-radius: 40px;
    background: rgba(56, 102, 65, 0.8);;
    padding: 15px;
    align-items: center;
    width: 100.100vw;;
    height: 100.100vh;
    height: 70%;
    flex-direction: column;
   
    
}