.perfilBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    justify-content: first baseline;
    gap: 50vh;
}
.infoBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10vh;
}
.curiosidadeBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10vh;
}
.informaçoespessoaisBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vh;
}
.perfilbuttons button {
    width: 70%;
    background-color: #AA4344;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vh;
}
.escolhidosBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vh;
}