.containerHeader{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar1{
  background-color: #F2E8CF !important;
  flex-direction: row;
  font-size: 30px;
  align-items: center;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;

}

.navbar1 a {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: black;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  gap: 4%;

}

.opts{
  display: flex;
  justify-content: flex-start;
  width: 74%;
  gap: 4%;
}

.login-bttn{
  background-color: #386641 !important;
  border-radius: 40px !important;
  width: 106px;
  height: 45.56px;
  left: 1271px;
  top: 16.23px;
  align-content: right;

}

.register-bttn{
  background-color: #DBDBDB !important;
  border-radius: 40px !important;
  width: 176px;
  height: 45.56px;


}
