.tomboBox{
    background-color: #386641;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vh;
    color: white;
    margin-bottom: 1em;
}
.texttombo{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap:1vh ; */
    text-align: center;
}